---
import BlogLayout from "../layouts/BlogLayout.astro";
import Navbar from "../components/Navbar.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post: any) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<BlogLayout>
    <Navbar slot="header" />
    <h1 class="text-3xl font-bold mb-4">{post.data.title}</h1>
    <p class="text-gray-600 mb-6">{post.data.description}</p>
</BlogLayout>
