---
import Divider from "./Divider.astro";
---

<section class="max-w-5xl mx-auto mt-12 flex flex-col gap-2 leading-relaxed will-change-transform fade-up-slow" style="animation-delay: 400ms;">
    <h2 class="text-2xl font-semibold">Tu negocio merece una presencia digital profesional</h2>
    <p class="text-sm">Una web moderna, confiable y diseñada para ayudarte a conseguir más clientes.</p>
    <img src="/images/collage.png" alt="Collage" />
    <Divider />
</section>
