---
import { Font } from "astro:assets";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-geist" />
    <ClientRouter  />
  </head>

  <body class="bg-[#E4E4E4] text-black m-8">
    <header class="sticky top-0 z-50">
      <slot name="header" />
    </header>
    
    <main>
      <slot />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body><style>
    :root {
      font-family: var(--font-geist), sans-serif;
    }
  </style>
</html>
